<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reg.css') }}">
</head>
<body>
    <form action="" method="post" class="form_for_register">
        <h1 class="form_title">Регистрация</h1>
        <div class="form_box">
            <label for="name_input">username</label>
            <input type="text" name="name" id="name_input" class="form_input">
        </div>
        <div class="form_box">
            <label for="email_input">email</label>
            <input type="text" name="email" id="email_input" class="form_input">
        </div>
        <div class="form_box">
            <label for="password_input">password</label>
            <input type="password" name="password1" id="password_input" class="form_input">
        </div>
        <div class="form_box">
            <label for="password2_input">password</label>
            <input type="password" name="password2" id="password2_input" class="form_input">
        </div>
        <button class="form_button">Зарегистрироваться</button>
    </form>
</body>
<footer>
    {% if content['flag'] %}
        <div>
            <h1>{{ content['status']['message'] }}</h1>
        </div>
    {% endif %}
</footer>
</html>